.box-background {
    background-color: #fff;
    border: 1px solid #f1f1f2;
    margin-top: 10px;
}

.box-header {
    padding: 10px;
    font-size: 15px;
    border-bottom: 1px solid #f1f1f2;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.box-body {
    padding: 10px;
}

input:focus {
    border: 2px solid orange;
}

.home-icon{
    background-image: url("../../../assets/images/Home.svg");
    height: 90px;
    width: 90px;
}

.action-icon:focus{
    outline: 2px solid gold;
    border-radius: 2px;
}