<kendo-expansionpanel title="Date Time Picker">
    <!-- date time picker -->
    <div class="box-background">
        <div class="box-header">
            Date Time Picker
        </div>
        <div class="box-body">
            <div class="m-t-10">
                Selected value is: {{ value | date: format }}
            </div>
            <div class="m-t-10">
                <p>Select date and time:</p>
                <kendo-datetimepicker [format]="format" [(value)]="value">
                </kendo-datetimepicker>
            </div>
        </div>
    </div>

    <!-- Multi Calendar -->
    <div class="box-background">
        <div class="box-header">
            Date Range Picker
        </div>
        <div class="box-body">
            <div class="m-t-10">
                Selected value is: {{ range | json }}
            </div>
            <div class="m-t-10">
                <kendo-multiviewcalendar kendoDateRangeSelection [selectionRange]="range"
                    (selectionRangeChange)="handleSelectionRange($event)">
                </kendo-multiviewcalendar>
            </div>
        </div>
    </div>
</kendo-expansionpanel>

<kendo-expansionpanel title="Dialog">
    <button kendoButton *ngIf="!opened" (click)="open()"> Open dialog </button>
    <kendo-dialog *ngIf="opened" (close)="close('cancel')" [width]="400" [height]="300" title="Status">
        <p style="text-align: center; padding-top: 5em;">
            Are you sure you want to continue ?
        </p>

        <kendo-dialog-actions>
            <button kendoButton themeColor="primary" (click)="close('yes')">
                Yes
            </button>
        </kendo-dialog-actions>
    </kendo-dialog>
</kendo-expansionpanel>

<kendo-expansionpanel title="dropdown">
    <kendo-dropdownlist [data]="listItems" [value]="selectedGame"></kendo-dropdownlist>

    <kendo-multiselect [data]="listItems" [(ngModel)]="selectedMultipleGame" [checkboxes]="{ checkOnClick: false }">
    </kendo-multiselect>
</kendo-expansionpanel>

<kendo-expansionpanel title="circular gauge">
    <div class="">
        <kendo-label style="position:absolute; padding-left: 80px; top:35px;" [for]="sliderValue" text="Value">
        </kendo-label>
        <kendo-slider id="sliderValue" [min]="0" [max]="100" [smallStep]="10" [(ngModel)]="sliderValue"></kendo-slider>
    </div>
    <kendo-circulargauge [value]="sliderValue" [colors]="colors">
        <ng-template kendoCircularGaugeCenterTemplate let-value="sliderValue" let-color="color">
            <span [style.color]="color">{{ sliderValue }}%</span>
        </ng-template>
    </kendo-circulargauge>
</kendo-expansionpanel>

<kendo-expansionpanel title="multi column headers">
    <div class="multi-column-headers">
        <kendo-grid [data]="allUserList" [resizable]="true" [scrollable]="'virtual'" [rowHeight]="34" [resizable]="true"
            [reorderable]="true">
            <kendo-grid-column field="id" title="ID" [width]="110" [locked]="true">
                <ng-template kendoGridFooterTemplate let-column let-columnIndex="columnIndex">
                    {{ column.field }}({{ columnIndex }})
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column-group title="User Information" [width]="600" [locked]="true">
                <kendo-grid-column field="name" title="User Name" [width]="300" [locked]="true">
                    <ng-template kendoGridFooterTemplate let-column let-columnIndex="columnIndex">
                        {{ column.field }}({{ columnIndex }})
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="age" title="Age" [width]="300" [locked]="true">
                    <ng-template kendoGridFooterTemplate let-column let-columnIndex="columnIndex">
                        {{ column.field }}({{ columnIndex }})
                    </ng-template>
                </kendo-grid-column>

            </kendo-grid-column-group>
            <kendo-grid-column-group title="More Information" [width]="420" [locked]="false">
                <kendo-grid-column field="city" title="City" [width]="210" [locked]="false">
                    <ng-template kendoGridFooterTemplate let-column let-columnIndex="columnIndex">
                        {{ column.field }}({{ columnIndex }})
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="mobile" title="Mobile Number" [width]="210" [locked]="false">
                    <ng-template kendoGridFooterTemplate let-column let-columnIndex="columnIndex">
                        {{ column.field }}({{ columnIndex }})
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column field="city" title="City" [width]="210" [locked]="false">
                    <ng-template kendoGridFooterTemplate let-column let-columnIndex="columnIndex">
                        {{ column.field }}({{ columnIndex }})
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="mobile" title="Mobile Number" [width]="210" [locked]="false">
                    <ng-template kendoGridFooterTemplate let-column let-columnIndex="columnIndex">
                        {{ column.field }}({{ columnIndex }})
                    </ng-template>
                </kendo-grid-column>
            </kendo-grid-column-group>
        </kendo-grid>
    </div>
</kendo-expansionpanel>

<kendo-expansionpanel title="column menu">
    <kendo-grid [kendoGridBinding]="allUserList" [height]="410" [columnMenu]="true" [filterable]="true"
        [sortable]="true">
        <kendo-grid-column field="id" title="ID" [width]="100" filter="numeric">
        </kendo-grid-column>
        <kendo-grid-column field="name" title="Name"> </kendo-grid-column>
        <kendo-grid-column field="age" title="Age" [width]="200" filter="numeric">
        </kendo-grid-column>
        <kendo-grid-column field="city" title="City" [width]="200"></kendo-grid-column>
        <kendo-grid-column field="mobile" title="Mobile" [width]="200"></kendo-grid-column>
    </kendo-grid>
</kendo-expansionpanel>

<kendo-expansionpanel title="Input Focus">
    <input kendoTextBox (keydown)="onValueChange($event)" id="eventName" required maxlength="60"
        pattern="^[a-zA-Z0-9 \b]+$" />

    <input kendoTextBox (keydown)="onValueChange($event)" id="eventName" required maxlength="60"
        pattern="^[a-zA-Z0-9 \b]+$" />

    <input kendoTextBox (keydown)="onValueChange($event)" id="eventName" required maxlength="60"
        pattern="^[a-zA-Z0-9 \b]+$" />
</kendo-expansionpanel>

<kendo-expansionpanel title="div class focus on tab key">
    <div class="action-icon home-icon" id="action-icon" (click)="onNavigateTo($event)" tabindex="0"></div>
</kendo-expansionpanel>

<kendo-expansionpanel title="kendo menu">
    <kendo-menu [items]="kendomenuitems"> </kendo-menu>
</kendo-expansionpanel>

<kendo-expansionpanel title="object flag status">
    <div> Paid On Committed </div>
    == {{alModelInputRecord?.paidOnCommitted | json}}
    <div class="grid-column" *ngIf="alModelInputRecord.paidOnCommitted">
        {{alModelInputRecord?.paidOnCommitted ? 'Yes' : 'No'}}
    </div>
    <div class="grid-column" *ngIf="!alModelInputRecord.paidOnCommitted"></div>

    <div class="grid-column" *ngIf="alModelInputRecord?.paidOnCommitted"> It is Yes </div>
    <div class="grid-column" *ngIf="!alModelInputRecord?.paidOnCommitted"> It is No </div>
</kendo-expansionpanel>

<div class="m-t-20" *ngIf="flags.displaySubmitButton">
    <button class="btn btn-primary" (click)="onSubmit()" id="submit-btn"> Submit </button>
</div>