<!-- User Management -->
<div class="m-tb-10">
    <h2> Welcome to User Management </h2>
</div>

<!-- Add user -->
<div class="">
    <button kendoButton (click)="onAddUser()" class="text-right m-r-10"> Add User </button>
    <button kendoButton type="button" (click)="excelexport.save()" class="text-right">
        Export To Excel
    </button>
</div>

<!-- export excel -->
<div class="">
    <kendo-excelexport [data]="allUserList" fileName="User.xlsx" #excelexport>
        <kendo-excelexport-column field="id" title="ID">
        </kendo-excelexport-column>
        <kendo-excelexport-column field="name" title="Name">
        </kendo-excelexport-column>
        <kendo-excelexport-column field="age" title="Age">
        </kendo-excelexport-column>
    </kendo-excelexport>
</div>

<!-- Add user Form -->
<div class="adduser m-t-10" *ngIf="flags.displayUserForm">
    <form class="k-form" [formGroup]="userForm">
        <fieldset class="k-form-fieldset">
            <legend class="k-form-legend"> Add user </legend>
            <kendo-label [for]="username" text="Username"></kendo-label>
            <kendo-textbox formControlName="username" [clearButton]="true" #username required></kendo-textbox>

            <kendo-label [for]="userage" text="Age"></kendo-label>
            <kendo-numerictextbox [min]="1" [max]="100" formControlName="userage" #userage required>
            </kendo-numerictextbox>

            <div class="k-form-buttons">
                <button class="k-button k-primary" (click)="onCreateUser()"> Create User </button>
                <button class="k-button" (click)="onClearForm()"> Clear </button>
            </div>
        </fieldset>
    </form>
</div>

<!-- List Users -->
<div class="list-users p-t-10" *ngIf="flags.displayUserList">
    <kendo-grid [data]="(userList | async)!" [height]="450" [skip]="skip" [pageable]="true" [pageSize]="pageSize"
        (pageChange)="onChangePageForUser($event)" [sortable]="true" [sort]="sortDescriptor"
        (sortChange)="onSortUser($event)" [filter]="filter" [filterable]="true" (filterChange)="filterChange($event)"
        (edit)="onEditUser($event)" (save)="onUpdateUser($event)" (cancel)="onCancel($event)"
        (remove)="onDeleteUser($event)">
        <!-- (add)="addHandler($event)" -->

        <!-- once sort is enabled then styling is not working -->
        <!-- [headerStyle]="{'text-align': 'center'}" [style]="{'text-align': 'center'}" -->

        <kendo-grid-column title="S.No">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{rowIndex + 1}}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="id" title="ID"> </kendo-grid-column>
        <kendo-grid-column field="name" title="Name"> </kendo-grid-column>
        <kendo-grid-column field="age" title="Age" filter="numeric" editor="numeric"> </kendo-grid-column>

        <ng-template kendoGridDetailTemplate let-dataItem>
            <section>
                <p><strong> City : </strong> {{ dataItem.city }} </p>
                <p><strong> Mobile : </strong> {{ dataItem.mobile }} </p>
            </section>
        </ng-template>

        <!-- <kendo-grid-column title="Actions">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <span class="k-icon k-i-edit k-color-info m-r-10 cursor-pointer"></span>
                <span class="k-icon k-i-delete k-color-error cursor-pointer" (click)="onDeleteUser(rowIndex, dataItem)"
                    title="Delete User" kendoTooltip style="text-align: center"></span>
            </ng-template>
        </kendo-grid-column> -->

        <!-- For actions we are using grid Actions code -->
        <kendo-grid-command-column title="Actions">
            <ng-template kendoGridCellTemplate let-isNew="isNew">
                <!-- edit command, will be visible when not in edit mode -->
                <button kendoGridEditCommand [primary]="true"> Edit </button>
                <!-- remove command, will be visible when not in edit mode -->
                <button kendoGridRemoveCommand> Delete </button>
                <!-- save command, will be visible when in edit mode -->
                <button kendoGridSaveCommand> {{ isNew ? 'Add' : 'Update' }} </button>
                <!-- cancel command, will be visible when in edit mode -->
                <button kendoGridCancelCommand> {{ isNew ? 'Discard changes' : 'Cancel' }} </button>
            </ng-template>
        </kendo-grid-command-column>
    </kendo-grid>
</div>

<!-- Bar Chart -->
<div class="m-t-20" *ngIf="flags.displayBarChart">
    <button kendoButton (click)="exportChart()">Export as Image</button>
    <kendo-chart #chart style="width: 300px; height: 300px;">
        <kendo-chart-tooltip format="{0}"></kendo-chart-tooltip>
        <kendo-chart-series>
            <!-- field - yaxis, categoryField - xaxis -->
            <kendo-chart-series-item type="column" [data]="barchartData" [labels]="seriesLabels" field="age"
                categoryField="name">
            </kendo-chart-series-item>
        </kendo-chart-series>
    </kendo-chart>
</div>

<!-- Tree View -->
<div class="m-t-10">
    <div class="box-background">
        <div class="box-header">
            Tree View
        </div>
        <div class="box-body">
            <kendo-treeview kendoTreeViewExpandable [nodes]="data" textField="text" [children]="fetchChildren"
                [hasChildren]="hasChildren">
            </kendo-treeview>

            <kendo-treeview kendoTreeViewHierarchyBinding kendoTreeViewExpandable [nodes]="data" textField="text"
                childrenField="items" [filterable]="true">
            </kendo-treeview>
        </div>
    </div>
</div>

<!-- Kendo Card -->
<div class="m-t-10">
    <kendo-card width="360px">
        <kendo-card-header class="k-hstack">
            <div>
                <h1 kendoCardTitle> Kishore Kumar </h1>
                <p kendoCardSubtitle> Madurai </p>
            </div>
        </kendo-card-header>
        <kendo-card-body>
            Living in Avaniyapuram, Madurai
        </kendo-card-body>
    </kendo-card>
</div>
