<!-- <h1>Hello Welcome to Kendo UI for Angular!</h1> -->

<!-- <app-dropdown (filterEmitter)="onEmitFilter($event)"></app-dropdown>
<app-grid [filterInput]="filterObj" *ngIf="showTable"></app-grid> -->

<!-- <div class="">
  <input type="radio" name="tableType" value="plainTable" #plainTable [(ngModel)]="model.tableType" kendoRadioButton
    (change)="onChangeTableType()" />
  <label class="k-label" [for]="plainTable"> Plain Table </label>

  <input type="radio" name="tableType" value="tableWithPagination" [(ngModel)]="model.tableType" #tableWithPagination
    kendoRadioButton (change)="onChangeTableType()" />
  <kendo-label class="k-radio-label" [for]="tableWithPagination" text="Table With Pagination"></kendo-label>

  <input type="radio" name="tableType" value="tableWithSorting" [(ngModel)]="model.tableType" #tableWithSorting
    kendoRadioButton (change)="onChangeTableType()" />
  <kendo-label class="k-radio-label" [for]="tableWithSorting" text="Table With Sorting"></kendo-label>

  <input type="radio" name="tableType" value="tableWithFilter" [(ngModel)]="model.tableType" #tableWithFilter
    kendoRadioButton (change)="onChangeTableType()" />
  <kendo-label class="k-radio-label" [for]="tableWithFilter" text="Table With Filter"></kendo-label>
</div> -->

<router-outlet></router-outlet>