/* You can add global styles to this file, and also import other style files */
.m-t-10 {
    margin-top: 10px;
}

.m-r-10 {
    margin-right: 10px;
}

.p-t-10 {
    padding-top: 10px;
}

.p-all-10 {
    padding: 10px;
}

.text-right {
    text-align: right;
}

.cursor-pointer {
    cursor: pointer;
}