<!-- <div class="m-t-10">
    <kendo-grid [data]="(gridItems | async)!" [height]="300">
        <kendo-grid-column field="ProductID" title="ID" [width]="50"> </kendo-grid-column>
        <kendo-grid-column field="ProductName" title="Product Name"> </kendo-grid-column>
        <kendo-grid-column field="Category.CategoryName" title="Category"> </kendo-grid-column>
        <kendo-grid-column field="UnitPrice" title="Unit Price" [width]="140" format="{0:c}"> </kendo-grid-column>
    </kendo-grid>
</div> -->

<app-dropdown (filterEmitter)="onEmitFilter($event)"></app-dropdown>

<button class="btn btn-primary" (click)="onExcelExport()"> Export From External Component </button>

<app-custom-grid [filterInput]="filterObj" *ngIf="showTable"></app-custom-grid>